<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Angular新手入門實作</title>
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/jquery-2.0.3.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/Site.js"></script>
    <link href="css/jquery-ui-1.10.4.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/Site.css">
</head>
<body ng-controller="MainCtrl as main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="bs-example">
                    <button class="btn btn-default pull-right" ng-disabled="main.isDebug" ng-click="main.deBug(1)">啟用偵錯</button>
                    <form name="form">
                        <div class="form-inline">
                            <div class="form-group">
                                <label>商品名稱：</label>
                                <input type="text" name="PName" class="form-control input-xs" ng-model="main.PName" required>
                                <code ng-if="form.PName.$invalid">請輸入商品名稱</code>
                            </div>
                        </div>
                        <div class="form-inline">
                            <div class="form-group">
                                <label>商品單價：</label>
                                <input type="number" name="Price" class="form-control" ng-model="main.Price" required>
                                <code ng-if="form.Price.$invalid">請輸入商品單價</code>
                            </div>
                        </div>
                        <div class="form-inline">
                            <div class="form-group">
                                <label>購買數量：</label>
                                <input type="number" name="Qty" class="form-control" ng-model="main.Qty" required>
                                <code ng-if="form.Qty.$invalid">請輸入購買數量</code>
                            </div>
                        </div>
                        <br />
                        <p>
                            您購買了 <code>{{main.PName}}</code> ，
                            單價為 <code>NT$ {{main.Price|number:0}}</code> ，
                            共買了 <code>{{main.Qty}}</code> 件，
                            共計 <code>NT$ {{main.subTotal(main.Price,main.Qty)|number:0}}</code>
                        <p />
                        <button class="btn btn-primary" ng-click="main.addToCarts()" ng-disabled="form.$invalid">加入購物車</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-6" ng-if="main.isDebug">
                <pre class="Debug"><button type="button" class="close" aria-label="Close" ng-click="main.deBug(0)"><span aria-hidden="true">&times;</span></button>{{main.carts|json}}</pre>
            </div>

            <div class="col-lg-12">
                <div class="bs-example">
                    <table class="table">
                        <tr>
                            <th>#</th>
                            <th>商品名稱</th>
                            <th>商品價格</th>
                            <th>購買數量</th>
                            <th>小計</th>
                            <th>功能</th>
                        </tr>
                        <tr ng-repeat="item in main.carts">
                            <td>{{$index+1}}</td>
                            <td>{{item.PName}}</td>
                            <td>{{item.Price}}</td>
                            <!-- 偷懶寫法 -->
                            <!-- <td>
                                <a ng-click="item.Qty = item.Qty - 1">-</a>
                                {{item.Qty}}
                                <a ng-click="item.Qty = item.Qty + 1">+</a>
                            </td> -->
                            <td>
                                <a class="btn btn-default btn-xs" ng-click="main.changeQty(item,-1)">-</a>
                                {{item.Qty}}
                                <a class="btn btn-default btn-xs" ng-click="main.changeQty(item,1)">+</a>
                            </td>
                            <td>NT$ {{main.subTotal(item.Price,item.Qty)|number:0}}</td>
                            <td>
                                <button class="btn btn-danger" data-toggle="modal" data-target="#modalDelete">刪除</button>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>總計</td>
                            <td>NT$ {{main.sum()|number:0}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-group">
                        <h3>是否確定刪除此筆資料?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary btn-delete" ng-click="main.delete(item)">確定</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-dialog" role="document" ng-if="main.showZero">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <h3>您確定要刪除這筆數量為0的資料嗎？</h3>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="main.deleteCancel(item)">取消</button>
                <button type="button" class="btn btn-primary btn-delete" ng-click="main.delete(item)">確定</button>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {


            $(".btn-delete").click(function (e) {
                e.preventDefault();

                var $this = $(this);
                var id = $this.data("id");
                var trId = $this.data("tr");

                $this.parent().parent().parent().parent().modal("hide");
                $(".modal-backdrop").remove();
            });
    });
    </script>

</body>
</html>


