<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Angular新手入門實作</title>
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/jquery-2.0.3.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-cookies.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/Site.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/values.js"></script>
    <script src="js/providers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/factorys.js"></script>
    <script src="js/directives.js"></script>
    <link href="css/jquery-ui-1.10.4.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/Site.css">
</head>
<body ng-controller="MainCtrl as main">
    <pre><span>rootScope 版本 {{version}} | mainScope 版本 {{main.version}} | 現在時間：{{main.nowTime|date:"yyyy/MM/dd a h:mm"}} | 現在時間：{{main.nowTime2}}</span><span class="pull-right">台灣人口數：{{main.peopleNum}}萬 | 天津爆炸範圍：{{main.tianjin.bobSize}} | 計數器值：{{main.Counter}}</span></pre>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="bs-example">
                    <button class="btn btn-success pull-right" ng-disabled="main.isDebug" ng-click="main.deBug(1)">啟用偵錯</button>
                    <button class="btn btn-default pull-right" onclick="get_version(this)">取得 injector 核心物件</button>
                    <button class="btn btn-default pull-right" ng-click="main.addCount()">計數器</button>
                    <div add-cart></div>
                </div>
            </div>
            <div class="col-lg-6" ng-if="main.isDebug">
                <pre class="Debug"><button type="button" class="close" aria-label="Close" ng-click="main.deBug(0)"><span aria-hidden="true">&times;</span></button>{{main.carts|json}}</pre>
            </div>
            <div class="col-lg-6" style="margin-right:1em">
                <div class="bs-example">
                    <div class="form-inline">
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="main.keyword.PName" placeholder="請輸入商品名稱搜尋">
                            <input type="text" class="form-control" ng-model="main.keyword.Price" placeholder="請輸入商品價格搜尋">
                            <label><input type="checkbox" ng-model="main.strict">是否需要完全符合</label>
                            <button class="btn btn-warning" ng-click="main.keyword='';">取消</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="bs-example">
                    <table class="table">
                        <tr>
                            <th>
                                <label ng-if="main.carts.length">
                                    <input type="checkbox" ng-model="main.isCheckAll" ng-change="main.checkAll()"> 全選
                                </label>
                            </th>
                            <th>#</th>
                            <th>商品名稱</th>
                            <th>
                                <a class="btn btn-default btn-xs" ng-click="main.cartsOrderBy='-Price'"><i class="glyphicon glyphicon-sort-by-attributes-alt"></i></a>
                                商品價格
                                <a class="btn btn-default btn-xs" ng-click="main.cartsOrderBy='Price'"><i class="glyphicon glyphicon-sort-by-attributes"></i></a>
                            </th>
                            <th>購買數量</th>
                            <th>小計</th>
                            <th>功能</th>
                        </tr>
                        <tr ng-repeat="item in main.carts|filter:main.keyword:main.strict|orderBy:main.cartsOrderBy"
                            ng-mouseover="IsHighlight=true"
                            ng-mouseleave="IsHighlight=false"
                            ng-class="{'warning': $even, 'active':IsHighlight}">
                            <td>
                                <input type="checkbox" ng-model="item.isDelete" ng-change="main.checkNoDelete()">
                            </td>
                            <td>{{$index+1}}</td>
                            <td>{{item.PName}}</td>
                            <td>NT$ {{item.Price|number:0}}</td>
                            <td>
                                <a class="btn btn-default btn-xs" ng-click="main.changeQty(item,-1)">-</a>
                                {{item.Qty}}
                                <a class="btn btn-default btn-xs" ng-click="main.changeQty(item,1)">+</a>
                            </td>
                            <td>NT$ {{main.subTotal(item.Price,item.Qty)|number:0}}</td>
                            <td>
                                <button class="btn btn-danger" ng-click="main.delete(item)">刪除</button>
                                <button class="btn btn-default" onclick="get_PName(this)">更換名稱</button>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>總計</td>
                            <td>NT$ {{main.sum()|number:0}}</td>
                            <td>
                                <button class="btn btn-info" ng-click="main.delSelect()" ng-if="main.isDeleteSelect">
                                    批次刪除
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        function get_version(btn) {
            // 建立新的 AngularJS injector 核心物件
            //var $injector = angular.injector(['ng', 'app']);
            //var version = $injector.get('version');

            // 取得某範圍內的 injector 核心物件
            var $injector = angular.element(btn).injector();

            // 透過 $injector 取得 version 服務物件實體
            var version = $injector.get('version');

            // 寫入 log
            console.log(version);
        }

        function get_PName(btn) {
            // 取得某範圍內的 scope 物件
            var $scope = angular.element(btn).scope();

            // 透過 $scope 取得 item.PName 的值
            var pName = $scope.item.PName;

            // 寫入 log
            console.log(pName);

            // 透過 apply物件，傳入 fn()，改掉他。
            $scope.$apply(function () {
                $scope.item.PName = "被 Chris 改掉了";
            });
        }
    </script>
</body>
</html>


